<%- include('../partials/header')%>
    <title>
        <%= currentPage %>
    </title>
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="exportTableToCSV('report.csv')"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="header">
                    <div class="text-xl font-weight-bold text-primary text-pascalcase case mb-1">
                        Date Settings</div>
                </div>
            </div>
            <div class="card-body">

                <form id="form-search-date" class="row g-3">

                    <div class="col-md-6">
                        <label for="startdate" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="startdate" name="startdate">
                    </div>
                    <div class="col-md-6">
                        <label for="enddate" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="enddate" name="enddate">
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success"> <i class="fas fa-solid fa-check"></i>
                    Query</button>
                <a href="/dashboard" class="btn btn-warning"> <i class=" fa fa-solid fa-undo"></i> Reset </a>
            </div>
            </form>
        </div>
        <br>

        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Purchases</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%=money.currencyFormatter.format(purchases.totalpurchases)%>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Sales</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%= money.currencyFormatter.format(sales.totalsales)%>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primarborder-left-info text-uppercase mb-1">
                                    Earnings</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%= money.currencyFormatter.format(sales.totalsales - purchases.totalpurchases)%>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Total Sales</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%= totalSales.total%>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="row-xl-8 col-lg-8">

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myLineChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Donut Chart -->
            <div class="row-xl-8 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4">
                            <canvas id="myDoughnatChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="header">
                    <div class="text-xl font-weight-bold text-primary text-pascalcase case mb-1">
                        Earnings Monthly Report</div>
                </div>
            </div>

            <div class="card-body">
                <table id="table-dashboard" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Monthly</th>
                            <th>Expense</th>
                            <th>Revenue</th>
                            <th>Earning</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% allData.forEach(item=> {%>
                            <tr>
                                <td>
                                    <%= item.monthly%>
                                </td>
                                <td>
                                    <%= money.currencyFormatter.format(item.expense)%>
                                </td>
                                <td>
                                    <%= money.currencyFormatter.format(item.revenue)%>
                                </td>
                                <td>
                                    <%= money.currencyFormatter.format(item.revenue - item.expense)%>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>
                                <%=money.currencyFormatter.format(purchases.totalpurchases)%>
                            </th>
                            <th>
                                <%=money.currencyFormatter.format(sales.totalsales)%>
                            </th>
                            <th>
                                <%=money.currencyFormatter.format(sales.totalsales - purchases.totalpurchases)%>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>


    </div>

    <script>

        $(document).ready(() => {
            $('#form-search-date').submit(function (event) {
                event.preventDefault()
                readDoughnat()
                readLine()
            })

            readDoughnat()
            readLine()
            $('#table-dashboard').DataTable()
        })


        $()

        const readDoughnat = () => {
            const startdate = $('#startdate').val()
            const enddate = $('#enddate').val()
            $.get('/dashboard/doughnat', { startdate, enddate }).done(function ({ direct, member }) {
                const chartDoughnat = $('#myDoughnatChart');
                new Chart(chartDoughnat, {
                    type: 'doughnut',
                    data: {
                        labels: ["Direct", "Customer"],
                        datasets: [{
                            data: [direct, member],
                            backgroundColor: ['#4e73df', '#1cc88a'],
                            hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                            hoverBorderColor: "rgba(234, 236, 244, 1)",
                        }],
                    },
                    options: {
                        maintainAspectRatio: false,
                        tooltips: {
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            caretPadding: 10,
                        },
                        legend: {
                            display: "bottom",
                            position: "bottom"
                        },
                        cutoutPercentage: 80,
                    },
                });
            })
        }



        const readLine = () => {
            const startdate = $('#startdate').val()
            const enddate = $('#enddate').val()
            $.get('/dashboard/line', { startdate, enddate }).done(function ({ eachMonth, incomePerMonth }) {
                const line = $('#myLineChart');
                new Chart(line, {
                    type: 'line',
                    data: {
                        labels: eachMonth,
                        datasets: [{
                            label: "Earnings",
                            lineTension: 0.3,
                            backgroundColor: "rgba(78, 115, 223, 0.05)",
                            borderColor: "rgba(78, 115, 223, 1)",
                            pointRadius: 3,
                            pointBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointBorderColor: "rgba(78, 115, 223, 1)",
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                            pointHitRadius: 10,
                            pointBorderWidth: 2,
                            data: incomePerMonth,
                        }],
                    },
                    options: {
                        maintainAspectRatio: false,
                        layout: {
                            padding: {
                                left: 10,
                                right: 25,
                                top: 25,
                                bottom: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                time: {
                                    unit: 'date'
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                ticks: {
                                    maxTicksLimit: 7
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    maxTicksLimit: 5,
                                    padding: 10,
                                },
                                gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                }
                            }],
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            titleMarginBottom: 10,
                            titleFontColor: '#6e707e',
                            titleFontSize: 14,
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            intersect: false,
                            mode: 'index',
                            caretPadding: 10
                        }
                    }
                });
            })
        }


        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            //define the file type to text/csv
            csvFile = new Blob([csv], { type: 'text/csv' });
            downloadLink = document.createElement("a");
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";

            document.body.appendChild(downloadLink);
            downloadLink.click();
        }

        //user-defined function to export the data to CSV file format
        function exportTableToCSV(filename) {
            //declare a JavaScript variable of array type
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            //merge the whole data in tabular form 
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");
                for (var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);
                csv.push(row.join(","));
            }
            //call the function to download the CSV file
            downloadCSV(csv.join("\n"), filename);
        }

    </script>

    <%- include('../partials/footer')%>