<%- include('../partials/header')%>
    <title>
        <%= currentPage %>
    </title>
    <div class="container">
        <strong>
            <h2>Customers</h2>
        </strong>
        <div class="card">
            <div class="card-header">
                <div class="header">
                    <h4 style="color:blue ;">Form edit</h4>
                </div>
            </div>
            <div class="card-body">

                <form action="" method="post">

                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" required value="<%= data.name%>">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="address" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="address" name="address" rows="2"><%= data.address%></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" name="phone" required value="<%= data.phone%>">
                        </div>
                    </div>
            </div>


            <div class="card-footer">
                <button type="submit" class="btn btn-success"> <i class="fas fa-solid fa-database"></i>
                    Save</button>
                <a href="/customers" class="btn btn-warning"> <i class=" fa fa-solid fa-undo"></i> Back </a>
            </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer')%>